<div class="menus-wrap">
  <% menus.each do |k, v| %>
    <ul class="menus">
      <li class="title"><%= k %></li>
      <% v.each do |m| %>
        <li class="<%= m[:href] == current_href ? 'active': '' %>">
          <%= link_to "#{m[:title]}", m[:href] %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
