<%= render :partial => "/partials/header_tab", 
  :locals => {:tab_name => "settings"} %>

<div class="body-left">
</div>
<div class="body-right" style="width: 160px;">
<%= render :partial => "/partials/home_menu" %>
</div>
